.home-button-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
    left: 580px;
    /* border: 1px solid black; */
}

.home-container{
    position: relative;
    top: 450px;
    display: grid;
    text-align: center;
}